/*  your css code here. If applicable */
 body{
	 background-color:rgb(204,204,204);
	
}
#song-list{
	list-style-type:none;	
	border-style:solid;
	background-color:white;
	border-radius:10px;
	padding:10px;
	margin:10px;
}
 a{
	 text-decoration-line:none;
	 color:black;
 }
 h2{
	text-align:center;
}

.player_one{
	background-color:rgb(255,255,255);
	padding: 40px;
	border-radius:10px;
	border-style:solid;
}

.player_two{
	background-color:rgb(255,255,255);
	padding: 40px;
	border-radius:10px;
	border-style:solid;
	
	
}